:root {
    --color-iris: #4D5AE5 ;
    --color-ocean: #404BBF ;
    --color-navy-blue: #2E2F42 ;
    --color-green: #31D0AA ;
    --color-slate: #434455 ;
    --color-light-slate: #8E8F99 ;
    --color-corlnflower: #E7E9FC ;
    --color-cloud: #F4F4FD ;
    --color-navy-blue-modal: #2E2F42 ;
    --color-grey: #2E2F42 ;
    --color-wite: #FFFFFF ;
    --color-dairy: #FCFCFC ;


    /* fonts */
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}


/*=========================BODY==========================*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-wite);
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,p {
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}


.button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0px auto;
}

.button:hover,
:focus {
    background-color: var(--color-okean);
}

.conteiner {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}
/*====================HEADER======================*/

.page-header {
    border-bottom: 1px solid var(--color-corlnflower);
}

.header-nav { 
    gap: 75px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: flex;
    align-items: center;
}

.conteiner-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-header-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway", sans-serif;
}

.logo-header-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy-blue);
}

.header-addres {
    font-style: normal;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: flex;
    gap: 40px;
    cursor: pointer;
} 

.nav-li:hover, :focus {
    color: var(--color-ocean);
}

.nav-link-a {
    display: block;
    padding: 24px 0;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.contacts-list-li:hover,
:focus {
    color: var(--color-ocean);
}

/*=====================SECTION 1==================*/
.title {
    max-width: 500px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-wite);
}

.hero-baner {
    align-items: center;
    gap: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-navy-blue);
}

.button {
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-wite);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover {
    background-color: var(--color-ocean);
}


/*=====================SECTION 2==================*/

.points {
    padding-top: 120px;
    padding-bottom: 120px;
}

.points-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.points-one {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-grey);
}

.points-list {
    display: flex;
    gap: 20px;
    align-items: center;

}
/*=====================SECTION 3==================*/

.team {
    background-color: var(--color-corlnflower);
}

.team-our {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
    
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
}

.team-foto {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 0;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-slate);
}

/*=====================SECTION 4==================*/

.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-navy-blue);
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

/*=====================FOOTER=====================*/

.page-footer {
    background-color: var(--color-navy-blue);
}

.footer-logo {
    color: var(--color-iris);
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.footer-span {
    color: var(--color-cloud);
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.footer-text {
    color: var(--color-cloud);
    font-weight: 700;
    font-size: 18px;
}